*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #000;
}

#ContRlibro{

	width: 100%;
	padding: 2%;
	border: 1px solid #fff;
	box-sizing: border-box;
}

#Reserva{
	margin: 1px;
	padding: 0.5%;
	box-sizing: border-box;
	background-color: #C6F1F7;
	text-align: left;
}

#Reserva h1{
	text-align: center;
	background-color: #0C89AD;
	color: #ffffff;
	padding: 4px;
	box-sizing: border-box;
}

#datosReserva{
	margin: 10px;
}

#datosReserva input{
	padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
}


#Reserva button, #busqueda button{
	border: none;
	background-color: #1589D3;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}
#Reserva button:hover, #busqueda button:hover{
	
	background-color: #0869C4;
	text-decoration: underline;
	cursor: pointer;
}

#busqueda{
	margin-top: 10px;
	padding: 0.5%;
	box-sizing: border-box;
	background-color: #C6F1F7;
	text-align: left;
}

#datosBusqueda{
	margin: 10px;
}

#datosBusqueda input{
	padding: 7px;
    box-sizing: border-box;
    border-radius: 5px;
}

#listLibros table{

	width: 100%;
	max-height: 500px;
	overflow: auto;
	margin-top: 2%;
	box-sizing: border-box;
	color: #fff;
	border: 1px solid #fff
}

#listLibros table td{

	border: 1px solid #fff
}
